<div class="container">
  <div class="row">

    <h3 class="col s12">Matches</h3>

    <% if @approved_pairs.empty? %>
      <p>No matches yet!</p>
    <% else %>
      <table class="striped">
        <thead>
          <tr>
            <th data-field="id">Name</th>
          </tr>
        </thead>
        <tbody>
          <% @approved_pairs.each do |pair| %>
            <tr>
              <td><%= pair.login %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div> <!-- row -->
  <div class="row">
    <%= button_to "Find Pairs", match_path(@random_user), method: :get, class: "btn" %>
  </div>
</div>
